# =========================
# Python cache files
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data files (VERY IMPORTANT for you)
# =========================
*.csv
*.xlsx
*.xls
*.parquet
*.json

# =========================
# Models
# =========================
*.pkl
*.joblib
*.h5
*.model

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
