# =========================
# Python cache files
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data files 
# =========================
*.csv
*.xlsx
*.xls
*.parquet
*.json

# =========================
# Rough Work Python Files 
# =========================
ml_code.py

# =========================
# Models
# =========================
*.pkl
*.joblib
*.h5
*.model

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# .pcap files (network captures)
# =========================
*.pcap